<h2>Create a new blog post</h2>

<!-- The f block param is called a form builder it will help build our form.
f is aware that  a Post has a:
--title
--content
-->

<%= form_for @post do |f| %>
<div>
  <%= f.label :title%>
  <!--generated a html label element-->
  <br>
  <%= f.text_field :title %> <!--generate an input-->
</div>
<% end %>